#header {
    /* color: brown; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    border: 5px solid black;
    font-size: 60px;
    font-style: italic;
    
background-color: rgba(130, 94, 5, 0.606);
    
}

 #outlined-secondary{ 
box-sizing:border-box;
width: 300px;
height: 100px;
/* background-color: rgba(130, 94, 5, 0.606); */ 
} 

#filled-secondary{
    box-sizing:border-box;
    width: 200px;
    height: 80px;
}

#standard-secondary{
border-style: ridge;
} 

/* #box{
    background-color: rgba(186, 135, 8, 0.489);
} */

